html,
body,
#root,
.App {
  min-height: 100vh;
}

body {
  background: url('./public/taza.jpg') no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100%;
  backdrop-filter: sepia(50%);

  font-family: 'Roboto', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

/* paleta de colores */
.color-1 {
  color: #a9b7c0;
}
.color-2 {
  color: #c7d8c6;
}
.color-3 {
  color: #efd9c1;
}
.color-4 {
  color: #cccbc6;
}
.color-5 {
  color: #f0f0f0;
}
.custom-color-red {
  color: #be2d2d;
}
.custom-bg-color-red-light {
  background-color: #be2d2d80;
}
.bg-color-1 {
  background-color: #a9b7c0;
}
.bg-color-2 {
  background-color: #c7d8c6;
}
.bg-color-3 {
  background-color: #efd9c1;
}
.bg-color-4 {
  background-color: #cccbc6;
}
.bg-color-5 {
  background-color: #f0f0f0;
}
.custom-bg-color-red {
  background-color: #be2d2d;
}
.bg-color-light-1 {
  background-color: #c7d8c680;
}
.bg-color-light-2 {
  background-color: #c7d8c680;
}
.bg-color-light-3 {
  background-color: #efd9c180;
}
.bg-color-light-4 {
  background-color: #cccbc680;
}
.bg-color-light-5 {
  background-color: #f0f0f080;
}
.border-secondary {
  border-color: #c7d8c6;
}

.App {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.main {
  display: flex;
  justify-content: space-between;
  /* align-items:; */
  flex-direction: column;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
/********************Navbar*********************/
.navbar-brand {
  font-size: 2.8em;
}

/********************Modals*********************/
.modal-user-form {
  inset: 0;
  background-color: #0f0f0f3e;
}
.modal-dialog {
  width: 100%;
}

.form-check-input:checked {
  background-color: #be2d2d;
  border-style: none;
}
/********************Animations*********************/



/********************Media querys*********************/
@media screen and (min-width: 992px) {
  .navbar-brand {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 1200px) {
  .modal-dialog {
    max-width: 30%;
  }
}
